<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9" targetFramework="net452" />
  <package id="cef.redist.x64" version="3.2883.1552" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.2883.1552" targetFramework="net452" />
  <package id="CefSharp.Common" version="55.0.0" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="55.0.0" targetFramework="net452" />
  <package id="ColorCode.Portable" version="1.0.3" targetFramework="net452" />
  <package id="DockPanelSuite" version="2.13.0" targetFramework="net452" />
  <package id="DockPanelSuite.ThemeVS2015" version="2.13.0" targetFramework="net452" />
  <package id="FCTB" version="2.16.21.0" targetFramework="net452" />
  <package id="Fkosoft.FontAwesome" version="1.1.0.3" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net452" />
  <package id="InnerLibs" version="1.0.8.23" targetFramework="net452" />
  <package id="Markdig" version="0.10.6" targetFramework="net452" />
  <package id="Markdig.SyntaxHighlighting" version="1.0.0" targetFramework="net452" />
  <package id="PreMailer.Net" version="1.5.5" targetFramework="net452" />
  <package id="ReverseMarkdown" version="0.1.25" targetFramework="net452" />
</packages>